.signUp{
    background-color: cadetblue;
}

.formContainer form{
    background-color: rgb(39, 46, 97);
    height: 100dvh;
    /* width: 50dvw; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}

